asgiref==3.2.7
bunch==1.0.1
certifi==2020.4.5.1
chardet==3.0.4
defusedxml==0.6.0
Django==2.2
django-allauth==0.41.0
django-countries==6.1.2
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-generic-filters==1.10
django-relativedelta==1.1.1
idna==2.9
oauthlib==3.1.0
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
sqlparse==0.3.1
stripe==2.45.0
urllib3==1.25.8
